html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a
{
	text-decoration: none;
    color: #fff;
}
*{
    box-sizing: border-box;
}

/*______________________________________________________*/

body 
{
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-size: 14px;
    background-image: url(./landscape.jpg);
}
.logo
{
    font-size: 2em;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;;
}

.logo .h_why 
{
	background-color: #000;
	color: #fff;
	border-radius: 8px;
    padding: 5px 5px;
}

.conteneur
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 25px;
}

.menu   
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    margin-right: 70px;
}

.menu a
{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu a:hover ,.menu2
{
    display: block; 
}




.menu2
{
    display: none;
}




